.btnContact{
  background-color: #ffffff;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 24px;
  color: #0768DE;
  text-decoration: none;
}

@media (max-width: 475px){
  .btnContact{
    padding: 6px 12px;
    font-size: 22px;
  }
}