.partOne{
  width: 100%;
  height: 412px;
  background-color: #0768DE;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partTwo{
  width: 100%;
  height: 165px;
  background-color: #0768DE;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
}

.titleAbout{
  font-size: 36px;
  padding-bottom: 10px;
}

.descAbout{
  font-size: 28px;
  width: 588px;
  text-align: center;
}

.titleAbout, .descAbout{
  color: #ffffff;
  user-select: none;
}