@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

.projectSection{
  background-color: #0768DE;
  width: 100%;
  height: 843px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleProject{
  font-size: 36px;
  color: #ffffff;
  padding-bottom: 35px;
}