@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

.projectSection, .contactSection, .buttonsContact{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projectSection, .contactSection{
  background-color: #0768DE;
  width: 100%;
  height: 91vh;
  align-items: center;
}

.titleProject, .titleContact, .interesseProjeto, .nameContact{
  color: #ffffff;
}

.titleProject, .titleContact{
  font-size: 36px;
  margin-bottom: 35px;
}

.interesseProjeto, .fotoPerfil{
  margin-bottom: 10px;
}

.interesseProjeto{
  font-size: 28px;
}

.fotoPerfil{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #000000;
}

.nameContact{
  font-size: 24px;
  margin-bottom: 20px;
}

.buttonsContact{
  gap: 15px;
}

@media (max-width: 475px){
  .nameContact{
    font-size: 18px;
  }
}

@media (max-width: 425px){
  .interesseProjeto{
    font-size: 22px;
  }
}

@media (max-width: 365px){
  .fotoPerfil{
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 355px){
  .titleProject{
    font-size: 34px;
  }

  .nameContact{
    font-size: 14px;
  }
}

@media (max-width: 315px){
  .titleProject{
    font-size: 32px;
  }

  .interesseProjeto{
    font-size: 20px;
  }
}

@media (max-width: 280px){
  .nameContact{
    font-size: 12px;
  }
}