.sliderBox{
  min-width: 300px;
  min-height: 400px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.sliderBox h3{
  font-size: 24px;
  color: #0768DE;
}

@media (max-width: 405px){
  .sliderBox{
    min-width: 250px;
    min-height: 350px;
  }
}

@media (max-width: 355px){
  .sliderBox{
    min-width: 200px;
    min-height: 300px;
  }
}